@{
    ViewBag.Title = "Home Page";
}

<script>
        document.addEventListener('contextmenu', function (e) {
            e.preventDefault();
        });
</script>

<main>
    @*<div class="container bg-white text-dark">
            <section class="row" aria-labelledby="aspnetTitle">
                <div class="col-md-8 mx-auto text-align-left">
                     Added 'mx-auto' class for equal alignment on both sides
                    <h1 id="title">INFINITY BANK</h1>
                    <p class="text-justify">At Infinity Bank, we are committed to providing reliable and customer-friendly banking solutions to meet your financial needs. Whether you are looking for a home loan to buy your dream house, an education loan to pursue higher studies, or seeking secure ways to manage your money, we have got you covered.</p>
                    <p class="text-justify">Our team of financial experts is dedicated to helping you make informed decisions about your finances and achieving your financial goals. With our user-friendly online banking platform, you can conveniently access your accounts, transfer funds, pay bills, and track your transactions anytime, anywhere.</p>
                    <p class="text-justify">Explore our range of banking services and discover how we can assist you in building a strong financial future. Join Infinity Bank today and experience the difference!</p>
                    <p><a href="https://www.onlinesbi.sbi/" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
                </div>
            </section>
        </div>*@
    <div class="w-100">
        <img src="https://www.bajajfinservmarkets.in/discover/wp-content/uploads/2023/01/5-Things-you-need-to-know-about-digital-accounts.png" class="img-fluid" style="width: 100%;" />
    </div>




</main>

<div class="container text-center my-5">
    <h4 style="color: #003366; font-weight: bold;">Banking Services</h4>
    <p style="color: #555; font-size: 18px;">Infinity Bank offers a wide range of online NetBanking Services & Personal Banking Services like Accounts & Deposits, Cards, Loans, and more. With our customer-friendly approach and secure banking solutions, we strive to meet all your financial needs and provide you with a hassle-free banking experience.</p>
</div>
<div class="container mt-4">
    <section>
        <div class="row mb-4">
            <div class="col-md-3">
                <div class="card my-2">
                    <img src="https://www.paisabazaar.com/wp-content/uploads/2018/03/Banking-Services-in-India-1.jpg" class="card-img-top" alt="Banking Services">
                    <div class="card-body">

                        <h5 class="card-title">Banking Services</h5>

                        <p class="card-text">Infinity Bank offers Online NetBanking Services & Personal Banking Services like Accounts & Deposits, Cards, Loans, ...</p>
                        <a href="#home-loan-info"> <p>Know More</p>  </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card my-2">
                    <img src="https://wpassets.adda247.com/wp-content/uploads/multisite/sites/5/2023/06/15100733/education-loan.jpg" class="card-img-top" alt="Education Loan">
                    <div class="card-body">
                        <h5 class="card-title">Education Loan</h5>
                        <p class="card-text">
                            Pursue your dream education course in India with Education Loan from Infinity Bank.Get a student loan up to Rs. 10 lakh for education in India.

                        </p>
                        <a href="#home-loan-info"> <p>Know More</p>  </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card my-2">
                    <img src="https://bsmedia.business-standard.com/_media/bs/img/article/2021-10/20/full/20211020150812.jpg" class="card-img-top" alt="Credit/Debit Cards">
                    <div class="card-body">
                        <h5 class="card-title">Credit/Debit Cards</h5>
                        <p class="card-text">Choose from a range of credit and debit cards with various benefits and features.</p>
                        <a href="#home-loan-info"> <p>Know More</p>  </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card my-2">
                    <img src="https://5.imimg.com/data5/ANDROID/Default/2020/10/FQ/UJ/AG/102656635/product-jpeg-500x500.jpg" class="card-img-top" alt="Bank Offers">
                    <div class="card-body">
                        <h5 class="card-title">Bank Offers</h5>
                        <p class="card-text">Avail exciting offers and discounts on various banking products and services.</p>
                        <a href="#home-loan-info"> <p>Know More</p>  </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<footer>

    <p>&copy; 2023 Infinity Bank. All rights reserved.</p>
</footer>